<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/330ca645c0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap"
        rel="stylesheet">
    
    <link rel="stylesheet" href="/css/stylus.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    
    
    <title>Cart</title>
</head>
<body class="fondo">
    <header>
        <%- include('./partials/header') %>
    </header>
    
    <main class="main-cart">
        <section class="conteiner">
            <article class="conteiner-article">  
                    <div class="cart"> 
                        <div class="icono-carritos"> 
                            <a href="/cart"><i class="fa-solid fa-cart-arrow-down iconos-cart"></i></a>
                        </div> 
                        <p class="parrafos">Carro de<br>compras</p>
                    </div>
            </article>
            <article class="conteiner-article">
                    <div class="cart"> 
                        <div class="icono-carritos">                
                            <a href="/register"><i class="fa-regular fa-user iconos-cart"></i></a>
                        </div> 
                        <p class="parrafos">Perfil</p>
                    </div></a>
            </article>
            <article class="conteiner-article">
                    <div class="cart"> 
                        <div class="icono-carritos">             
                            <a href="#"><i class="fa-solid fa-truck-fast iconos-cart"></i></a>
                        </div> 
                        <p class="parrafos">Información<br>de envio</p>
                    </div>
            </article>
            <article class="conteiner-article">
                    <div class="cart">
                        <div class="icono-carritos">                    
                            <a href="#"><i class="fa-solid fa-credit-card iconos-cart"></i></a>
                        </div>
                        <p class="parrafos">Pago</p>
                    </div>
            </article>
        </section>
        <section class="cuerpo-cart">
            <div class="cuerpo-cart-dos">
            <article class="cuerpo-container cuerpo-imagen">
                <div class="conteiner-img">
                    <img class="imagen-libro" src="<%=libros.imagen%>">
                </div>
            </article>
            <article class="cuerpo-container">
                <div class="descripcion-cart">
                    <h3 class="cart-descripcion">Titulo: <%=libros.nombre%></h3>
                    <h6><i class="fa-regular fa-paper-plane"></i>  Entrega</h6>
                </div>
            </article>
            </div>
            <div class="cuerpo-cart-dos conteiner-precio-subtotal">
            <article class="cuerpo-container  conteiner-pr-sub">
                <div class="cuerpo-cantidad ">
                    <h4 class="precio-cantidad">Precio: $<%=libros.precio%></h4>
                    
                    <h5 class="precio-cantidad">Subtotal: $ <%=libros.precio - (libros.descuento * libros.precio / 100) %></h5>
                </div>
            </article>
            <article class="cuerpo-container cuerpo-compra  conteiner-pr-sub">
                <div class="modal-body">
                    <table class="table table-hover">
                      <tbody id="detalleCompra">
                        <!-- Aquí se mostrará el detalle de la compra -->
                      </tbody>
                    </table>
                    <div class="row mx-4">
                      <div class="col">
                        <h3 class="text-black">Total: $<span id="totalCompra">0.00</span></h3>
                      </div>
                    </div>
                  </div>
    
                  <div>
                    <a href="/">
                    <button type="submit" class="btn-buy-button-finalizar">Comprar Ahora</button>
                    </a>
                    <button  type="button" class="btn-cart-button-finalizar" onclick="addToCart(1, '<%=libros.id%>', '<%=libros.nombre%>', '', '<%=libros.precio%>'), showAddedToCartMessage();">Agregar al Carrito</button>
                    <div id="addedToCartMessage" style="display: none; text-align: center;margin-bottom: 10px;">
                        <span style="padding: 5px;" class="text-success">Agregado al carrito</s>
                    </div>
            </article>
            </div>

        </section>
    </main>
    <!--<footer>-->
        <%- include('./partials/footer') %>
    <!--</footer>-->

    <script src="/scripts/validacionesCarrito.js" defer></script>
</body>
</html>