<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Arcolbooks </title>
    <link rel="stylesheet" href="/css/stylus.css">
    <script src="https://kit.fontawesome.com/330ca645c0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap"
        rel="stylesheet">
        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <header>
        <%- include('./partials/header') %> 
    </header>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <img class="fondolibros" src="/img/fondoLibros.jpg" alt="">
            <div class="carousel-item active" data-bs-interval="2000">
                <img class="libros"
                    src="https://images.cdn2.buscalibre.com/fit-in/180x180/d6/d6/d6d6ea6b71e036ea081e6eef580addca.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000" >
                <img class="libros"
                    src="https://images.cdn2.buscalibre.com/fit-in/180x180/1d/a1/1da159611a516eba8483962b26ca18cb.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img class="libros"
                    src="https://images.cdn3.buscalibre.com/fit-in/180x180/4d/07/4d073da439f11849bcd24492d8eeb9ef.jpg"
                    class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item" data-bs-interval="2000">
                <img class="libros"
                    src="https://images.cdn2.buscalibre.com/fit-in/360x360/c1/47/c147541b352288c94d990198576b5f5a.jpg"
                    class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item" data-bs-interval="2000">
                <img class="libros"
                    src="https://images.cdn3.buscalibre.com/fit-in/360x360/4a/ec/4aecdf3019e1fbdf9fa69e54f8b3ba25.jpg"
                    class="d-block w-100" alt="...">
            </div>

        </div>
        <div class="botones-next-prev">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev" class="active">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

<div class="fondo-div">
        <div class="botones-2">
            <button class="boton2"> Educación </button>
            <button class="boton2"> Infantil</button>
            <button class="boton2"> Ficción </button>
            <button class="boton2"> Motivación </button>
        </div>

<div class="container">

    <% for( let i = 0; i < libros.length; i++ ) { %>
        <section class="caja">
       
            <a href="/producto/<%=libros[i].id%>">
                <div class="imagen-producto">               
                   <img class="producto"
                       src="<%= libros[i].imagen %>"
                       alt="">
        </div>
        <div class="precio-descuento">
            <p class="precio"> $ <%= libros[i].precio %> </p>
            <p class="descuento"> <%= libros[i].descuento %>% </p>
        </div>
        <div class="estrella-centrada">
            <img class="estrella" src="/img/estrellas-sin-fondo.png" alt="">
        </div>

        <p class="descripcion"><%= libros[i].descripcion %></p>

        <div class="boton-center">
            <button class="boton-comprar"> Comprar <img class="carrito-boton-comprar" src="/img/carro2.png"
                    alt=""></button>
        </div>

    </section>
    <% } %>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

        <%- include('./partials/footer') %>

</body>

</html>